*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(246, 246, 246);
}

h1{
    margin: 10px 0 0 10px;
}

.eu{
    margin: 25px 0 0 10px;
    width: 170px;
    height: 150px;
}

.info{
    margin: 25px  0 0 10px;
}

.habil{
    margin: 25px 0 0 10px;
}

.inter{
    margin: 25px 0 0 10px;
}

.pf{
    margin: 25px 0 0 10px;
}

.exp{
    margin: 25px 0 0 10px;
}

table, th, td{
    margin: 10px 10px;
    border: 1px solid red;
    border-collapse: collapse;
    padding: 1px;
}

th{
    background-color: rgb(209, 209, 209);
}

#mapa{
    margin: 25px 0 0 10px;
}

.com{
    margin: 25px 0 0 10px;
}

input {
    margin: 0 0 10px 0;
}

.logo{
    margin: 5px 0;
}

.contato{
    margin: 25px 0 0 10px;
}
